<div class="jumbotron hero"><div class="container"><div class="row">
    
	<div class="col-md-4 col-md-push-7 phone-preview">
	    <div class="iphone-mockup"><img src="assets/img/iphone.svg" class="device">
	        <div class="screen"></div>
	    </div>
	</div>
	
	<div class="col-md-6 col-md-pull-3 get-it">
	    <h1>セカイチャンネル</h1>
	    <p>
	        WEBサイトを人と人が見える場所にする。<br />
	        WEBと現実をより近づける。
		</p>
	    <p>
	        <a class="btn btn-primary btn-lg" role="button" href="#">
	            <span class="fa fa-apple"></span> App Store - ５/１登場予定 
	        </a>
	        <a class="btn btn-success btn-lg" role="button" href="#">
					<span class="fa fa-google"></span> Google Play - ４/８登場予定 
			</a>
		</p>
	</div>
            
</div></div></div>