<% include ../ejs/_header %>

    <h1 class="text-center">事業内容</h1>
    <section class="testimonials">
        <h2 class="text-center"><a href="http://www.chatwork.com/ja/">ChatWork</a> x メール連携事業「ChatKit」</h2>
        <blockquote>
            <p>ビジネスでどんどん拡大していくチャットワークを今まで使っていたメールと一元化するサービス。</p>
            <p>チャット x WEB製作会社という領域に焦点を当てて、機能も開発中</p>
            <p>2/20 リリース予定</p>
        </blockquote>        
    </section>
    <hr />
    <section class="testimonials">
        <h2 class="text-center">WEBページチャット化サービス「<a href="/">SEKAI CHANNEL</a>」事業</h2>
        <blockquote>
            <p>WEBページをみんなが話せる「場所」に変えます。</p>
            <p>仮想現実（VR）の世界が当たり前になった時の中心地になることを目標にしています。</p>
            <p>4/8 リリース予定</p>
        </blockquote>        
    </section>
<% include ../ejs/_footer %>