<% include ejs/_header %>
    <% include ejs/_top %>
    
    <section class="testimonials">
        <h2 class="text-center">WEBサイトにいる人が見える</h2>
        <blockquote>
            <p>いま、このサイトにどんな人がいて、人気があるページか知りたくないですか？</p>
            <footer></footer>
        </blockquote>
    </section>
    <section class="testimonials">
        <h2 class="text-center">お気に入りのバーで誰かに会ったみたいに会話をしてみよう</h2>
        <blockquote>
            <p>同じ事柄について知りたい人と情報交換ができます。もしかしたら同じ趣味の友達になれるかもしれません</p>
            <footer></footer>
        </blockquote>
    </section>
    <section class="testimonials">
        <h2 class="text-center">最高に使いやすいブックマーク</h2>
        <blockquote>
            <p>好きなページを探しやすいようにブックマークを改良しました。見た目ですぐわかり、整理がしやすいように</p>
            <footer></footer>
        </blockquote>
    </section>
    <section class="testimonials">
        <h2 class="text-center">話題のWEBサイトがわかる</h2>
        <blockquote>
            <p>人気のページがどんどんアップされます。気になるページで、みんなのおしゃべりを見てみたくないですか？</p>
            <footer></footer>
        </blockquote>
    </section>

<% include ejs/_footer %>